@import '../../variables.scss';

@mixin row {
  display: flex;
  flex-direction: column;
  .tr {
    display: flex;
    flex-direction: column;
    align-items: center;
    @media (min-width: $breakpoint-sm) {
      flex-direction: row;
    }
    .th {
      color: $headerColor;
    }
    .th,
    .td {
      padding: 15px;
      @media (max-width: $breakpoint-sm) {
        width: 80% !important;
      }
      p {
        margin: 0;
        text-align: left;
        .moreless {
          color: $mainBlue;
          font-size: 14px;
          cursor: pointer;
          margin-left: 6px;
          white-space: nowrap;
        }
      }
    }

    .title,
    .body {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}

@mixin headerFooter {
  .thead,
  .tfooter {
    .tr {
      background-color: $headerBgColor;
      font-weight: bold;
      .th {
        text-transform: uppercase;
        color: $headerColor;
        font-size: $headerFontSize;
      }
    }
    @include row();
  }
}
