@import './mixins.scss';

.table {
  @media (min-width: $breakpoint-xs) {
    width: 100%;
  }
  @media (min-width: $breakpoint-sm) {
    width: 90%;
  }
  @media (min-width: $breakpoint-md) {
    width: 80%;
  }
  @media (min-width: $breakpoint-lg) {
    width: 60%;
  }
  @media (min-width: $breakpoint-xl) {
    width: 40%;
  }
  min-width: 320px;
  border: 2px solid $tableBorderColor;
  display: flex;
  flex-direction: column;
  margin: auto;
  @include headerFooter();
  .tbody {
    height: calc(100vh - 90px - 45px - 45px - 120px - 90px);
    overflow-y: auto;
    @include row();
    .tr:nth-child(odd) {
      background-color: $oddChildColor;
    }
    .tr:nth-child(even) {
      background-color: $evenChildColor;
    }
    .tr {
      .td {
        P {
          word-wrap: break-word;
        }
        input {
          outline: none;
          border-style: solid;
          &:focus {
            border-color: $mainBlue;
          }
        }
        .fa-edit,
        .fa-trash-alt {
          cursor: pointer;
        }
        .fa-edit {
          margin-left: 6px;
          color: $mainBlue;
        }
        .fa-trash-alt {
          color: $mainRed;
        }
      }
    }
  }
  .tfooter {
    .pageWrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .pagination {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 10px 0;
        button {
          border-style: solid;
          outline: none;
          padding: 5px 10px;
          margin: 10px 5px;
          cursor: pointer;
        }
      }
      form {
        label {
          padding: 0 10px;
        }
        select {
          padding: 5px;
        }
        padding-bottom: 20px;
      }
    }
  }
}
