@mixin row {
  display: flex;
  flex-direction: column;
  .tr{
      display: flex;
      flex-direction: row;
      align-items: center;
      .th, .td {
          padding: 20px;
      }
      @media (max-width: 500px) {
          flex-direction: column;
      }
  }
}

.table{
  width: 80%;
  min-width: 500px;
  border: 2px solid silver;
  display: flex;
  flex-direction: column;
  margin: auto;
  .thead{
      .tr {
          background-color: silver;
          font-weight: bold;
          .th {
            text-transform: uppercase
          }
      }
      @include row()
  }
  .tbody {
      @include row();
      .tr:nth-child(odd){
          background-color: rgb(250, 250, 250);
      }
      .tr:nth-child(even){
          background-color: rgb(235, 235, 235);
      }
      .tr {
          .td {
              P{
                word-wrap: break-word;
              }
              input {
                  outline: none;
                  border-style: solid;
                  &:focus{
                      border-color: tomato;
                  }
              }
              i {
                  cursor: pointer;
                  &:hover{
                      color: tomato;
                  }
              }
          }
      }
  }
  .tfooter {
    .tr {
        background-color: silver;
        font-weight: bold;
        .th {
            text-transform: uppercase
        }
    }
    @include row();
    .pagination {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        button {
            border-style: solid;
            outline: none;
            padding: 5px 10px;
            margin: 10px 5px;
            cursor: pointer;
        }
    }
  }
}