$breakpoint-xs: 0px;
$breakpoint-sm: 600px;
$breakpoint-md: 960px;
$breakpoint-lg: 1280px;
$breakpoint-xl: 1920px;
$headerBgColor: rgb(222, 227, 232);
$headerColor: rgb(1, 0, 35);
$mainBlue: blue;
$mainRed: rgb(253, 19, 85);
$oddChildColor: rgb(250, 250, 250);
$evenChildColor: rgb(241, 241, 241);
$tableBorderColor: silver;
$headerFontSize: 14px;
$mainPadding: 14px;
